$sticker-font = Android Emoji, Symbola, Apple Color Emoji

body
	margin: auto
	background: #fff
	color: #333
	width: 90%
	text-align: center

.sticker
	font-style: normal
	font-family: $sticker-font
	box-shadow: 0 2px 10px rgba(127, 127, 127, 0.1)

.stickers__sticker
	font-size: 4em
	line-height: 1.2
	margin: .1em 0
	padding: 0
	border-radius: 15em
	border: 1px solid #eee
	display: inline-block
	cursor: pointer

.modal-panel
	position: fixed
	top: 30%
	left: 25%
	width: 50%
	height: 50%
	background: #fff
	border: 1px solid #eee
	border-bottom: 5px solid #acf
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2)
	transition: opacity .7s ease, top .5s ease-in-out
	opacity: 0
	pointer-events: none

.modal-panel.is-shown
	top: 25%
	opacity: 1
	pointer-events: all

.modal-panel__close
	$font-size = 1em
	$size = 1.5em
	position: absolute
	top: 0
	right: 0
	font-size: $font-size
	width: $size
	height: $size
	line-height: $size
	background: #c99
	border: #a77
	font-style: normal
	color: #fee
	cursor: pointer
	&:before
		content: "✖"

.sticker-editor__pane
	display: inline-table
	vertical-align: top
	width: 40%
	white-space: normal

.sticker-editor__content
	width: 90%
	margin: 2em 0
	white-space: nowrap

.sticker-editor__row
	display: table-row
	line-height: 2em

.sticker-editor__h3
	font-family: roboto, helvetica neue
	font-weight: 100
	color: #666
	text-align: left
	display: table-cell
	width: 0

.sticker-editor__color
	display: table-cell
	width: 100%

.sticker-editor__sticker
	font-size: 10em
	border-radius: 100%
